<body class="fondo">

    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row separacionArriba">
            <div class="col-sm">
                <h2>Muestro Producto es una Pomada a base de aji cultivado en huertas urbanas en el barrio bella flor de Bogota D.C </h2>
                <h2> Esta ayuda a dlos dolores articulares y musculares </h2>
            </div>
            <div class="col-sm ">
                <img src="assets/imagenProducro01.jpeg" class="rounded-circle img-fluid" alt="pomada">
            </div>
        </div>
    </div>

</body>
