<body class="fondo">

    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row separacionArriba">
            <div class="col-sm">
                <div class="abs-center">
                  <h1 class="text-justify-" class="text-white">Nuestro Producto es una Pomada artesanal de capsaicina hecha a base de aji cultivado en huertas urbanas del barrio bella flor de la 
                    localidad de Ciudad Bolivar de Bogota D.C. Esta ayuda a los dolores articulares y musculares, además de ayudar al sostenimiento de las familias que cultivan el producto. </h1>
                </div>>  
            </div>
            <div class="col-sm ">
                <img src="assets/logo.png"  width="90%px" class="rounded-circle img-fluid" alt="logo">
            </div>
        </div>
    </div>

</body>

<div class="footer navbar-fixed-bottom">
    <div class="p-3 mb-2 bg-dark text-white">
     <h5>©2021 Capsadol-Proyecto: Cultivar para emprender</h5>
    </div> 
</div>
