<body class="fondo">

    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row separacionArriba">
            <div class="col-sm ">
                <img src="assets/Proceso.png" width="100%px" class="mx-auto d-block" alt="Proceso">
            </div>
            <div class="col-sm ">
                <div class="abs-center">
                  <h1 class="text-justify" class="text-white">El proceso productivo a desarrollar contempla tres grandes fases o etapas que, tal como se puede observar,
                   comprenden desde la fase de producción agrícola en el huerto urbano comunitario hasta la fase de comercialización al cliente final.</h1>
                </div>   
            </div>
        </div>   
    </div>

    <h1 class="text-justify" class="text-white">Proceso de Cultivo</h1>

    <div class="container-fluid">
        
        <div class="row separacionArriba">
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Preparación del terreno</h3>
                <img src="assets/labranza.jpg"  class="img-thumbnail" alt="Labranza">
                <p class="text-justify" class="text-white">Esta actividad permite adecuar el terreno para cada uno de los cultivos,
                     para ello, debemos seguir los siguientes pasos: 
                </p>
                <p class="text-justify" class="text-white">Si hay malezas en la tierra, 
                    deben retirarse completamente, es decir, quitar toda la raíz. 
                </p>

                <p class="text-justify" class="text-white">LABRANZA: Consiste en voltear y 
                    revolver la tierra. Esta actividad es muy importante ya que permite airear y 
                    reparar la tierra, es decir, pues mejora la estructura de la tierra, es decir, 
                     sea mas suelta. Para ello, vamos a utilizar el rastrillo. En caso de que la 
                     tierra tenga terrones grandes, estos deben deshacerse completamente.
                </p>

                <p class="text-justify" class="text-white">Mezclar la tierra con el compostaje que hemos 
                    realizado.  Para ello, utilizamos una pala ancha. 
                </p>

            </div>
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Siembra</h3>
                <img src="assets/Siembra.jpg"  class="img-thumbnail" alt="siembra">
                <p class="text-justify" class="text-white">Este es el proceso mediante el cual se deposita
                     una semilla en el suelo, la cual va a germinar y formar la planta. Para que las plantas 
                     tengan un buen crecimiento debemos utilizar semillas sanas, limpias y de buena calidad. 
                </p>
                <p class="text-justify" class="text-white">Para la siembra de las semillas, se deben trazar
                     los surcos en la tierra según corresponda para la planta que se va a sembrar, 
                     para ello usaremos una azada. 
                </p>
            </div>
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Labores culturales</h3>
                <img src="assets/labor.jpg"  class="img-thumbnail" width="100%px" alt="labor">
                <p class="text-justify" class="text-white">Son las labores que deben realizarse una vez 
                    la semilla a germinado y la planta a comenzado su crecimiento. Estas labores permiten
                     mantener en adecuadas condiciones el cultivo, evitar perdidas o daños y alcanzar las
                      mayores producciones, de ahí su importancia. Estas labores son: raleo, aporcado, podas, 
                      abonado, control de malezas.
               </p>
            </div>
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Riego</h3>
                <img src="assets/riego.jpg"  class="img-thumbnail" width="100%px" alt="riego">
                <p class="text-justify" class="text-white">Consiste en suministrar agua a las plantas.
                     Esta actividad debe ser oportuna y en cantidades suficientes para mantener la humedad
                      del suelo.  El riego debe realizarse en las raíces de las plantas, si es posible.
                       El riego lo realizaremos con una regadera. 
               </p>
               <p class="text-justify" class="text-white">Es importante saber que TANTO EL EXCESO DE AGUA
                    COMO LA FALTA DE AGUA PUEDEN DAÑAR EL CULTIVO. Además, las horas más recomendadas para
                     aplicar el riego son las horas de la mañana y en horas de la tarde.
                 </p>
            </div>
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Cosecha</h3>
                <img src="assets/cosecha.jpg"  class="img-thumbnail" alt="cosecha">
                <p class="text-justify" class="text-white">Cosechar es recolectar o recoger las especies
                     cultivadas en nuestra huerta urbana y puede realizarse de dos formas teniendo en
                      cuenta las características de cada cultivo:
               </p>
                <p class="text-justify" class="text-white">COSECHA TOTAL: Es cuando recolectamos la planta
                     completa, por ejemplo, en los bulbos y raíces es cuando desenterramos todo la planta
                      y en el caso de las hortalizas es cuando las arrancamos de raíz. 

                </p>
                <p class="text-justify" class="text-white">COSECHA PARCIAL: Esta se realiza cuando 
                    cortamos solo algunas partes de la planta para ser consumido como alimento fresco 
                    o en otras preparaciones de alimentos. Esta cosecha se hace, por ejemplo, en las
                     hortalizas de hoja (lechugas, espinacas, acelgas, apio) las cuales nos permitirán
                      ir cortando hojas conforme las necesitemos sin necesidad de arrancarlas. También
                       los podemos hacer con las plantas medicinales o aromáticas. 

                </p>
            </div>
            
        </div>
    </div>

    <h1 class="text-justify" class="text-white">Producción general de la pomdada</h1>

    <div class="container-fluid">
        
        <div class="row separacionArriba">
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Secado del ají</h3>
                <img src="assets/secador.jpg"  class="img-thumbnail" alt="secador">

                <p class="text-justify" class="text-white">El secado es una operación crucial para la 
                    extracción de la capsaicina. Si el fruto no es secado, los jugos que este expulse 
                    reducirán la cantidad de capsaicina extraída 
                </p>
                <p class="text-justify" class="text-white">El secado tradicional de cualquier fruto es
                     aprovechando la radiación solar. Como en los lugares en donde se va a llevar a cabo 
                     no es segura la presencia de este, se construye un secador casero
                </p>

                <p class="text-justify" class="text-white">Para saber si el ají está seco, o al menos con
                     una humedad menor a la que entró, debe tener un aspecto al de hoja marchita, un color
                      más oscuro y al apretarlo cruje. Es importante que el material cuente con estas
                       características para que los procesos posteriores sean exitosos y se logre la
                     pomada con el efecto más favorable.
                </p>

                <p class="text-justify" class="text-white">Para la construcción del secador solar casero 
                    se deben tener en cuenta sus partes las cuales son: colector, y cámara de secado. 
                </p>

            </div>
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Molienda</h3>
                <img src="assets/molido.jpg"  class="img-thumbnail" alt="molido">
                <p class="text-justify" class="text-white">Para que la extracción de la capsaicina sea 
                    exitosa, el contacto entre el material sólido y el solvente debe ser alta,; 
                    por ello se muele el ají.
                </p>
                <p class="text-justify" class="text-white">En esta etapa, se recoge el ají seco que se obtiene del
                     proceso anterior tendiendo en cuenta las características del ají seco (aspecto de hoja marchita,
                      de un color más oscuro y crujiente). Cuando se tenga todo el ají recolectado se debe macerar 
                      en un mortero llevándola a tamaño de polvo (o que se observen pedazos de menos de medio centímetro).
                </p>
                <p class="text-justify" class="text-white">Cuando se tenga el ají seco y molido se realizan 4 lavados con 
                    etanol o alcohol etílico, por lo que para cada gramo de fruto se realizan lavados con 10 mL de solvente 
                    (decir que si son 5 gramos los lavados se realizan con 50 mL de etanol); por ello es necesario
                     pesar el ají molido antes de empezar con la extracción.
               </p>
            </div>
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Extraccion de la capsaicina</h3>
                <img src="assets/capsaicin.jpg"  class="img-thumbnail" width="100%px" alt="capsaicin">
                <p class="text-justify" class="text-white">Aunque la extracción de la capsaicina es sencilla es crucial 
                    que lo que se haya hecho hasta el momento (secado), haya sido exitoso, de lo contrario se extraerá 
                    menos material de lo esperado.
                </p>
                <p class="text-justify" class="text-white">Cuando ya se hayan realizado los lavados,
                     se descarta el sólido y se transfieren, a un recipiente habilitado para baño maría,
                      todos los solventes. 

                </p>
                <p class="text-justify" class="text-white">El paso siguiente es evaporar el etanol usado,
                     para lo cual se empleará el método de baño maría, con el fin de evitar
                      que la capsaicina extraída se queme. Es necesario aclarar que el resultado no puede
                       quedar seco, sino que debe contener una parte líquida, de lo contrario la capsaicina 
                       se habrá pegado al recipiente por lo que la extracción no fue del todo exitosa y 
                       se debe volver a realizar.

                </p>
            </div>
            <div class="col-sm ">
                <h3 class="text-justify" class="text-white">Mezclado</h3>
                <p class="text-justify" class="text-white">Con la capsaicina extraída, se deben mezclar los
                     demás ingredientes que son agua, aceite de almendras, alcohol cetílico, propilenglicol
                      y cera de abejas blanca.
               </p>
               <p class="text-justify" class="text-white">Para realizar el mezclado, todos los reactivos
                    deben estar a alta temperatura, y esto se debe a que la cera y el alcohol etílico son 
                    sólidos a temperatura ambiente, por esto mismo, los demás ingredientes deben estar a la
                     misma temperatura.
                </p>
                <p class="text-justify" class="text-white">1. Lo primero es derretir 1g de cera de abejas a 
                    baño maría; esta debe estar rayada para facilitar el cambio de fase.

                 </p>
                 <p class="text-justify" class="text-white">2. Una vez la cera esté en estado líquido 
                     agregar 2g de aceite de almendras caliente (no quemado) y mezclar.

                 </p>
                 <p class="text-justify" class="text-white">3. Adicionar 2g de capsaicina extraída y 
                     continuar mezclado.

                 </p>
                 <p class="text-justify" class="text-white">4. En otro recipiente, mientras tanto, 
                     a baño masía se derriten 1g de alcohol cetílico.
                 </p>
                  <p class="text-justify" class="text-white">5. Cuando todo el alcohol esté líquido,
                       mezclar 10g de agua hervida y caliente y agitar constantemente.

                </p>
                <p class="text-justify" class="text-white">6. Adicionar, de forma similar, 
                    4g de propilenglicol y no dejar de agitar.
                </p>
                <p class="text-justify" class="text-white">7.Una vez las dos mezclas estén incorporadas,
                     se deben mezclar sin dejar de agitar y aún en baño maría.

                </p>
                <p class="text-justify" class="text-white">8. Cuando los reactivos se hayan mezclado bien
                     se deja enfriar y se envasa.

                </p>

            </div>
            
            
        </div>
    </div>



</body>

<div class="footer navbar-fixed-bottom">
    <div class="p-3 mb-2 bg-dark text-white">
     <h5>©2021 Capsadol-Proyecto: Cultivar para emprender</h5>
    </div> 
</div>
