<body class="fondo">

    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row separacionArriba">
            <div class="col-sm">
                <img src="assets/comunidad.jpg"  width="53%px" alt="comunidad">
                <img src="assets/barrio.jpg" width="47%px"   alt="barrio">
            </div>
            <div class="col-sm ">
                <a title="proyecto" href="https://editor.wix.com/html/editor/web/renderer/edit/abe06707-66d7-4a7f-823b-c0a52537c9f2?metaSiteId=bd33e08d-314b-479a-9412-6e93948d07fb" 
                target="_blank"> <img src="assets/imgproyecto.jpg" width="100%px"  class="mx-auto d-block" alt="proyecto"></a>
            </div>  
       </div>
    </div>

    <div class="container-fluid">
        <div class="row separacionArriba">
            <div class="col-sm">
                <h2 class="text-justify" class="text-white">En el barrio de Bella Flor ubicado en Ciudad Bolivar, el 70% de las personas son estrato 1, 
                    viven de ingresos diarios y tienen bajos salarios, por lo que tienen que sacrificar otras necesidades básicas, sólo para poder comer.</h2>
            </div>
            <div class="col-sm ">
                <h2 class="text-justify" class="text-white">CULTIVAR PARA EMPRENDER, es un modelo de emprendimiento basado en la agricultura urbana que busca producir 
                    alimentos de autoconsumo y generar mayores ingresos que le permitan a las familias aumentar el acceso económico a los alimentos en cantidades y
                    calidades suficientes. Si quiere saber más sobre el proyecto haga click en la imagen.</h2>
            </div>  
       </div>
    </div>
