<body class="fondo">

    <app-navbar></app-navbar>

    <div class="container-fluid">
        <div class="row separacionArriba">
            <div class="col-sm">
                <img src="assets/Foto3.jpg" class="mx-auto d-block" width="50%px" alt="comunidad">
                <h6 class="text-justify-" class="text-white">Composición: Agua, aceitede almendras, cetanol, cera de abejas, propilencol, capsaicina.</h6>
                <h6 class="text-justify-" class="text-white">USO:  Esta pomadaalivia dolores asociados a artritis, osteoartritis, meuralgia post herpética y la neuropatia
                    diabética, asi como para dolores musculares y de articulaciones como dolores de espalda, esguinces musculares, dolor de rodillas, entre otras. 
                </h6>
                <h6 class="text-justify-" class="text-white">APLICACIÓN:Aplique una pequeña cantidad de ungüento, para cubrir el área afectada de la piel con una capa delgada y frote suavemente.
                    Evite aplicar capsaicina tópica en los pliegues de la piel y evite que entre en contacto con los ojos, nariz o boca. No aplique capsacicina tópica en
                    piel agrietada, cortada, infectada o cubierta de sarpullido o donde aya una cortadura.
                </h6>
                <h6 class="text-justify-" class="text-white">ADVERTENCIAS: Hipersensibilidad a los componentes</h6>
            </div>
            <div class="col-sm ">
                
            </div>  
       </div>
    </div>

</body>
<div class="footer navbar-fixed-bottom">
    <div class="p-3 mb-2 bg-dark text-white">
     <h5>©2021 Capsadol-Proyecto: Cultivar para emprender</h5>
    </div> 
</div>
